body {
	
	font-family: 'Jost';
	margin: 0;
	padding: 0;
	
	

}

a{
	color: #333;
	text-decoration: none;
	
}

a:hover{
	color: #8a8787;
}

li {
	list-style: none;
}

ul {
	padding: 0;
}

input{
	padding: 5px;
}


header {
	display: grid;
	grid-template-areas: "logo nav search profile";
	grid-template-columns: auto;
	grid-template-rows: 100px;
	align-items: center;
	position: relative;
	height: 100px;
	width: 100%;
	background: linear-gradient(#e5e5e5, #ffffff);
	box-shadow: 5px 5px 20px 0px #00000031;
}

.logo {
	grid-area: logo;
	
}

.logo img {
	width: 250px;
	padding: 20px;
	
}
  
.nav {
	grid-area: nav;
	font-size: 32px;
	font-weight: 900;
}
  
.nav > ul > li {
	padding: 0.5rem;
	display: inline;
	margin: 15px;
}

#search-container input {
	grid-area: search;
	max-width: 200px;
	background: url(media/Search.png) no-repeat;
	background-position: 2%;
	font-size: large;
	padding-left: 45px;
}

#search-icon{
	display: none;
}

#hamburger{
	display: none;
}

.profile {
	grid-area: profile;
}

.profile > ul > li > a > img:hover{
	filter: invert(50%);
}
  
.profile > ul > li {
	padding: 0.5rem;
	display: inline;
	margin-right: 10px;
} 


@media screen and (max-width: 1500px) {
	header {
		grid-template-columns: 1fr 1fr 3fr 2fr;
		
	}
	#hamburger {
		grid-column: 1;
		grid-row: 1;
		display: inline;
		text-align: center;

	}

	#search-container{
		grid-column: 2;
	}
	.logo{
		grid-column: 3;
		text-align: center;
	}
	
	
	.nav{
		display: none;
	}

	.profile{
		grid-column: 4;
		justify-self: center;
	}
	
}


@media screen and (max-width: 800px){
	#search-container {
		display: none;
	}

	#search-icon {
		display: block;
		text-align: center;
		grid-column: 2;
	}
}
.hero {
	display: grid;
	grid-template-columns: 25% 10% 65%;
	place-items: center;
	
}
.hero > img{
	grid-row: 1;
	grid-column: 2/4;
	max-width: 100%;

}

#shadow {
	height: 100%;
	grid-column: 1 / span 2;
	grid-row: 1;
	filter: drop-shadow(10px 0px 4px rgba(0, 0, 0, 0.062))
}
#shadow .textbox{

	display: grid;
	grid-column: 1 / span 2;
	grid-row: 1;
	height: 100%;
	place-items: center;
	background-color: #a8cbfa;
	clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
	
	width: 100%;
	
	
}

.herotext{
	width: 50%;
	padding: 5px;
	font-size: larger;
	margin-left: 20px;
	margin-right: 20px;

}

.hero input[type="button"]{
	background-color: #ff661f;
}
.hero input[type="button"]:hover {
	background-color: #f34f03;
}

@media screen and (max-width: 1500px) {


	.hero {
		
		grid-template-columns: 1fr;
		gap: 0px;
		grid-template-rows: repeat(2,auto);
	}

	#shadow {
		width: 100%;
		grid-row: 2;
	}
	#shadow .textbox{
		clip-path: none;
		height: fit-content;
		font-size: smaller;
		text-align: center;
		margin: 0;
		
	}
	
	.hero > img{
		grid-column: 1;
	}

	
}

@media screen and (max-width: 500px){
	.herotext p {
		display: none;
	}


	
}
.container {
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #e5e5e5;
	display: grid;
	gap: 30px;
	max-width: 100%;
	text-align: center;

}
#container-1 {
	
	padding-bottom: 60px;
	padding-left: 15%;
	padding-right: 15%;
	place-items: center;
}

.container h1 {
	grid-column: 2;
	width: 100%;
}


.products{
	max-width: 90%;
	grid-row: 2;
	min-width: 340px;
	position: relative;
	overflow: hidden;
	border-radius: 15px;	

}

.products:hover{
	transform: scale(105%);
}

.products h1{
	margin: 0;
}

.imgtext{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20%; 
	color: #e5e5e5;
	background-color: rgba(0, 0, 0, 0.473); 
}

.products > a > img{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 15px;

	
}


.guide{
	z-index: 1;
	background: #e5e5e5;
	grid-column: 2;
	grid-row: 1;
	text-align: left;
	padding: 20px;
	border-radius: 15px;
	font-size: larger;
	place-items: center;
	max-width: 350px;
	box-shadow: 5px 5px 20px 0px #00000031;
	
}



#container-2 {
	display: grid;
	min-height: fit-content;
	max-height: max-content;
	padding-top: 50px;
	place-items: center;
	overflow: hidden;
	
	
}

#container-2 img {
	
	width: 100%;
	opacity: 30%;
	grid-column: 1/4;
	grid-row: 1
}
 
#container-3{
	padding-bottom: 60px;
	padding-top: 70px;
	background: #ffffff;
}

info > img{
	background: #d3d1d1;
	padding: 7px;
	border-radius: 55px;
	
}
@media screen and (max-width: 1500px){
	.container{
		grid-template-columns: 1fr;
	}

	#container-1 h1{
		grid-column: 1;
	}
	.products{
		text-align: center;
		grid-column: 1;
		grid-row: auto;
	}

	.guide{
		grid-column: 1;
		
	}

	#container-2 img {
		object-fit: cover;
		min-height: 400px;
		grid-column: 1;
	}
	
}

.bigcontainer > ul >li{
	display: inline;
}
.bigcontainer >ul li:not(:last-child):after{
	content: " >";
}

.bigcontainer {
	margin: 20px;
	padding: 20px;
}

.productcontainer {
	
	height: fit-content;
	background-color: #e5e5e5;
	border-radius: 15px;
	padding: 20px;
	margin: 20px;
	box-shadow: 5px 5px 5px 0px #00000031;
}

#TKL-container{
	
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3,auto);
}

#TKL {
	width: 1000px;
	margin: auto;
	display: grid;
	grid-template-columns: 3fr 1fr ;
	grid-template-rows: repeat(4,auto);
	gap: 15px;
	padding-right: 100px;
	padding-left: 100px;
	
	
}

#TKL img {
	border-radius: 15px;
}

#TKL > div > h2{
	text-align: left;
}
      
#tklreview p {
	display: inline;
	vertical-align: top; 
	font-size: large; 
}


#mainimg {
	grid-column: 1;	

}

#mainimg img{
	width: 100%;
	
	
}

.thumbnail {
	display: grid;
	grid-template-columns: repeat(4,auto);
	gap: 10px;
	grid-column: 1;
	
}
      
.thumbnail img {
	width: 100%;	
	grid-row: 1;
	
}

#options {
	grid-column: 2;
	margin-bottom: 28px;
}

#recommendations{
	grid-column: 1;
	
}

#recommendations img{
	width: 100%;
	
}

#recommendations p {
	margin: 0 auto;
}

#specs td, #specs th{
	border:1px ridge;
	padding: 8px;

}
#TKL-container h2{
	
	text-align: center;
}

#specs th {
	
	text-align: left;
	background-color: #e5e5e5;
	color: #333;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

#specs > h2{
	grid-column: 2;
	text-align: center;
}

#specs{
	grid-column: 1;
	width: 60%;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0 auto;
}
      
#video{
	grid-column: 1;
	text-align: center;
	width: 100%;

}

/*Product page*/

#big-productcontainer{
	justify-content: center;
	display: grid;
	grid-template-columns: 300px minmax(600px,1200px);
	grid-template-rows: auto;
	padding-bottom: 200px;
}

#left{
	grid-column: 1;
	
}

#right {

	display: grid;
	padding-bottom: 80px;
	grid-template-columns: repeat(3,minmax(300px,1fr));
	grid-template-rows: repeat(auto,300px);
	gap: 20px;
}

#right img{
	width: 100%;
}
#right h1{
	justify-self: left;
	margin: 20px;
	grid-column: span 3;
	
}

/*About page*/

#bigabout{
	display: grid;
	place-items: center;
	
}
#about{
	
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 70px;
	width: 1000px;
	display:grid;
	place-items: center;
	
}

#about h2 {
	grid-column: 1;
}

#about p {
	
	text-align: left;
	font-size: large;
	
}

.showcase img{
	border-radius: 20px;
}

.review{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;

}

reviewtitle{
	text-align: center;
}

.review .products {
	background: #fff;
}

.review .products {
	padding-inline: 20px;
	
	
}
.review info img{
	height: 38px;
	width: auto;
}
.item img{
	border-radius: 15px;
	box-shadow: 5px 5px 5px 0px #00000031;
	
}

/*Contact form*/

#formcontainer{
	display: grid;
	place-items: center;
}
#contactform{
	width: 1000px;
	display: grid;
	grid-template-columns: 1fr 1fr ;
	column-gap: 20px;
	padding-left: 70px;

}

#contactform h1{
	grid-column: 1 / span 2;
	text-align: center;
}
#contactform p, h3,ul{
	grid-column: 1 /span 2;
}
#contactform > ul > li{
	margin-inline-start: 40px;
	list-style:disc

}
#name > input {
	grid-column: 1;
}
#message {
	bottom: 0;
	width: 70%;
}

input[type=button] {
	background-color: #72a4ff;
	color: white;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: large;
	font-family: Jost;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

input[type=button]:hover{
	transform: scale(105%);
	background-color: #4984f1;
}

input[type=text], select, textarea,#message {
	width: 100%;
	font-family: Jost;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 6px;
	margin-bottom: 6px;
	
}

textarea {
	max-width: 100%;
	min-width: 100%;
}
form{
	grid-column: 1 /span 2;
	max-width: 500px;
}

select{
	
	color: #333;
}
introguide{
	grid-column: 1 / span 2;
	text-align: center;
}
#guide-container{
	display: grid;
	place-content: center;
}

#keyguide{
	display: grid;
	grid-template-columns: 1fr 2fr;
	max-width: 1000px;
	padding-left: 100px;
	padding-right: 100px;
	
}

#keyguide h2{
	text-align: center;
}
#keyguide p,a,h2 {
	grid-column: 1;

}
#keyguide img{
	grid-column: 2;
	justify-self: center;
	padding: 20px;
}


/*Footer*/
footer {
	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-template-columns: repeat(4, minmax(200px, 500px));
	column-gap: 50px;
	background-color: #e5e5e5;	
	place-items: center;
	color: #333;
	bottom: 0;
	position: bottom;
	width: 100%;
}

.news input{
	width: 200px;
	font-size: large;
	
}

#emailinput input[type=button]{
	width: min-content;
	padding: 0;
	padding-inline: 7px;
	background-color: #000000;
	opacity: 50%;
}

	
.logo2 img {
	height: 60px;	
}

.socials {
	text-align: center;
}

.socials > ul > li {
	display: inline;

}

.socials > ul > li > a > img:hover{
	filter: invert(50%);
}

@media screen and (max-width: 1000px){
	footer{
		grid-template-columns: repeat(2,1fr);
	}

	.menu {
		grid-row: 1;
	}
	
	
}

@media screen and (max-width: 500px){
	footer{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4,auto);
	}

	.news {
		text-align: center;
	}

	.menu{
		grid-row: auto;
	}

	#menu-list{
		grid-row: 1;
	}

	#help-list{
		grid-row: 2;
	}
}